html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#footer,
.push {
    height: 50px;
}


/* Show entries */
.dataTables_length {
    float: right !important;
    margin-top: 10px !important;
}

/* Group Buttons */
.dt-buttons {
    margin-bottom: 10px !important;
}

thead input {
    width: 100%;
    text-align: center;
}

.side-label {
    width: 45px;
}

/* SweetAlert Customized */
.swal-modal {
    background-color: rgba(0, 0, 0, 0.651);
    color: #fff;
}

.swal-title {
    color: #fff;
    font-size: 20px;
}

.swal-text {
    color: #fff;
    font-size: 15px;
}

/* Button */
.swal-button {
    padding: 7px 19px;
    border-radius: 5px;
    background-color: #198754;
    font-size: 12px;
    border: 1px solid #198754;
}

.swal-button:focus {
    box-shadow: none;
}

.swal-button:not([disabled]):hover {
    background: transparent;
    color: #fff;
    border: 1px solid #198754;
}

/* Icons */
.swal-icon--success__hide-corners {
    background: none !important;
}

.swal-icon--success:before,
.swal-icon--success:after {
    background: none !important;
}

/* Datables */
/* Input Search */
.dataTables_paginate {
    margin-top: 10px !important;
}

.dataTables_filter {
    margin-bottom: 10px !important;
    display: none !important;
}

.dataTables_length {
    margin-bottom: 10px !important;
}

.dt-buttons {
    margin-bottom: 10px !important;
}

thead input {
    width: 100%;
    text-align: center;
}

.sorting-disabled {
    color: transparent !important;
}

.action-color {
    color: transparent;
}

th:nth-child(8),
th:nth-child(9) {
    border: none;
}

/* Custom Pagination */
.page-item.active .page-link {
    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}

/* .pagination>li>a {
    background-color: #6c757d;
    color: #6c757d;
} */

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>span>a:focus,
.pagination>span>a:hover {
    color: #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    height: 8vh;
}

#card-login {
    /* width: 450px; */
}

.login-border {
    border-top: .4rem solid #198754;
    border-bottom: .4rem solid #198754;
    border-radius: 10px;
}

#btn-enter {
    border-radius: 15px;
    font-size: 16px;
}

/* Bootstrap green theme */
.form-control:focus {
    border-color: green;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Checkbox green theme (show/hide password) */
.form-check-input:checked {
    background-color: #8abaae;
    border:green !important;
    box-shadow: 0 0 8px rgba(1,152,117,0.4) !important;
}
.form-check-input {
    border: green !important;
    box-shadow: 0 0 8px rgba(1,152,117,0.4) !important;
}
.form-switch .form-check-input:focus{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.btn-modal{
    width: 60px;
}
input#btn-enter {
    width: 100%;
}